In [69]:
import pandas as pd

In [70]:
df_trip = pd.read_csv('./trip.csv', error_bad_lines=False)
df_weather = pd.read_csv('./weather.csv')
df_station = pd.read_csv('./station.csv')

b'Skipping line 50794: expected 12 fields, saw 20\n'

### 1.What is the average trip duration for a borrowed bicycle?

In [71]:
trip_duration = df_trip['tripduration'].mean()
trip_duration

1178.2956753399776

### 2.Whatâ€™s the most common age of a bicycle-sharer?

In [87]:
most_common_age = df_trip['birthyear'].mode()
age = 2021 - int(most_common_age)
age

34

### 3.Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [73]:
weather_data = pd.read_csv('./weather.csv', parse_dates=['Date'])
weather_data

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,2014-10-14,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,2014-10-15,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,2014-10-16,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,2014-10-17,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,2016-08-27,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,2016-08-28,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,2016-08-29,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,2016-08-30,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,2016-08-31,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

In [74]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        689 non-null    datetime64[ns]
 1   Max_Temperature_F           689 non-null    int64
 2   Mean_Temperature_F          688 non-null    float64
 3   Min_TemperatureF            689 non-null    int64
 4   Max_Dew_Point_F             689 non-null    int64
 5   MeanDew_Point_F             689 non-null    int64
 6   Min_Dewpoint_F              689 non-null    int64
 7   Max_Humidity                689 non-null    int64
 8   Mean_Humidity               689 non-null    int64
 9   Min_Humidity                689 non-null    int64
 10  Max_Sea_Level_Pressure_In   689 non-null    float64
 11  Mean_Sea_Level_Pressure_In  689 non-null    float64
 12  Min_Sea_Level_Pressure_In   689 non-null    float64
 13  Max_Visibility_Miles        689 non-null    int64
 14  Mean_Visibility_Miles       689 non-null    int64
 15  Min_Visibility_Miles        689 non-null    int64
 16  Max_Wind_Speed_MPH          689 non-null    int64
 17  Mean_Wind_Speed_MPH         689 non-null    int64
 18  Max_Gust_Speed_MPH          504 non-null    object
 19  Precipitation_In            689 non-null    float64
 20  Events                      328 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(13), object(2)
memory usage: 113.2+ KB

In [75]:
date = weather_data['Date']
weather_data['month'] = pd.DatetimeIndex(date).month
weather_data['month']

0      10
1      10
2      10
3      10
4      10
       ..
684     8
685     8
686     8
687     8
688     8
Name: month, Length: 689, dtype: int64

In [76]:
weather = weather_data.groupby('month')['Precipitation_In']
avg_weather = weather.mean()
avg_weather

month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

### 4.Whatâ€™s the average number of bikes at a given bike station?

In [77]:
df_station = pd.read_csv('./station.csv')
avg_bikes = df_station['install_dockcount'].mean()
avg_bikes

17.586206896551722

### 5.When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [93]:
print('The station will lose the bikes when modified') 
modify_bike_station = df_station.groupby('modification_date').mean('current_dockcount')
modify_bike_station

The station will lose the bikes when modified

                         lat        long  install_dockcount  current_dockcount
modification_date
10/29/2015         47.660268 -122.304826          16.000000                0.0
11/2/2015          47.618285 -122.342205          20.000000                0.0
11/9/2015          47.605950 -122.335768          20.000000               18.0
2/20/2015          47.655918 -122.307329          15.500000               14.5
2/23/2015          47.626041 -122.335831          18.000000               16.0
2/24/2015          47.619136 -122.323267          21.333333               22.0
3/13/2015          47.613628 -122.337341          12.000000               20.0
3/18/2016          47.607281 -122.324783          16.000000                0.0
3/24/2015          47.663509 -122.284119          30.000000               24.0
3/27/2015          47.627643 -122.332576          12.000000               16.0
3/4/2015           47.622277 -122.355230          12.000000               16.0
8/9/2016           47.602103 -122.316923          16.000000                0.0

### 6.Come up with 3 more questions that can be answered with this data set.

- - ####  Display a list of station names

In [98]:
station_names = df_station['name']
station_names

0                                    3rd Ave & Broad St
1                                     2nd Ave & Vine St
2                                6th Ave & Blanchard St
3                                2nd Ave & Blanchard St
4                                    7th Ave & Union St
5                                    Union St & 4th Ave
6                                   1st Ave & Marion St
7                                   2nd Ave & Spring St
8                        City Hall / 4th Ave & James St
9                                     2nd Ave & Pine St
10                              12th Ave & E Yesler Way
11                             Summit Ave & E Denny Way
12                       E Harrison St & Broadway Ave E
13                       Summit Ave E & E Republican St
14                             15th Ave E & E Thomas St
15                               12th Ave & E Denny Way
16                                 E Pine St & 16th Ave
17               Cal Anderson Park / 11th Ave & Pine St
18                              Harvard Ave & E Pine St
19                             Bellevue Ave & E Pine St
20                               12th Ave & E Mercer St
21                                9th Ave N & Mercer St
22    Children's Hospital / Sandpoint Way NE & 40th ...
23    Fred Hutchinson Cancer Research Center / Fairv...
24                         E Blaine St & Fairview Ave E
25                        Eastlake Ave E & E Allison St
26            Frye Art Museum / Terry Ave & Columbia St
27        Seattle University / E Columbia St & 12th Ave
28                                6th Ave S & S King St
29    Occidental Park / Occidental Ave S & S Washing...
30    King Street Station Plaza / 2nd Ave Extension ...
31                           REI / Yale Ave N & John St
32                              Dexter Ave N & Aloha St
33                       Republican St & Westlake Ave N
34                        PATH / 9th Ave & Westlake Ave
35                               Westlake Ave & 6th Ave
36                                    Pine St & 9th Ave
37            Lake Union Park / Valley St & Boren Ave N
38                               Dexter Ave & Denny Way
39                  Key Arena / 1st Ave N & Harrison St
40                               Terry Ave & Stewart St
41                                Mercer St & 9th Ave N
42    Burke-Gilman Trail / NE Blakeley St & 24th Ave NE
43                       NE 42nd St & University Way NE
44                            12th Ave & NE Campus Pkwy
45                             NE 47th St & 12th Ave NE
46                         UW McCarty Hall / Whitman Ct
47    Burke Museum / E Stevens Way NE & Memorial Way NE
48                             15th Ave NE & NE 40th St
49    UW Engineering Library / E Stevens Way NE & Je...
50                    UW Intramural Activities Building
51    UW Magnuson Health Sciences Center Rotunda / C...
52                      Pier 69 / Alaskan Way & Clay St
53    Seattle Aquarium / Alaskan Way S & Elliott Bay...
54                             Broadway and E Denny Way
55                                Thomas St & 5th Ave N
56                      NE Pacific St/UW Medical Center
57                      Pier 66 / Alaskan Way & Bell St
Name: name, dtype: object

- - #### Give me the minimum Temperature for each year.

In [80]:
weather_data['Year'] = pd.DatetimeIndex(date).year
weather_data.groupby('Year')['Min_TemperatureF'].min()
min_temperature = weather_data.groupby('Year')['Min_TemperatureF'].min()
min_temperature

Year
2014    26
2015    26
2016    23
Name: Min_TemperatureF, dtype: int64

- - #### How many females bike riders?

In [81]:
females = df_trip[df_trip['gender'] == 'Female']['gender'].count()
females

37562

In [101]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(trip_duration, 1178.2956753399776)
    assert_equal(age, 34)
    assert_equal(weather_data.iloc[0].Min_TemperatureF, 54)
    assert_equal(avg_bikes, 17.586206896551722)
    assert_equal(modify_bike_station.iloc[0].lat, 47.660268)
    print("Success!!! \U0001f600")

test()

Success!!! ðŸ˜€