# vg-stats
## Date: 21/6/2021
### Suhib kharoush

In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('./vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

### 1.Which company is the most common video game publisher?

In [7]:
most_common_video_game = df['Publisher'].value_counts().idxmax()
most_common_video_game

'Electronic Arts'

### 2.Whatâ€™s the most common platform?

In [9]:
most_common_plat_form = df['Platform'].value_counts().idxmax()
most_common_plat_form

'DS'

### 3.What about the most common genre?

In [59]:
most_common_genre = df['Genre'].value_counts().idxmax()
most_common_genre

'Action'

### 4.What are the top 20 highest grossing games?

In [24]:
top_20_income_games = df[['Rank', 'Name', 'Platform','Global_Sales']].sort_values('Global_Sales', ascending=False).head(20)
top_20_income_games

    Rank                                          Name Platform  Global_Sales
0      1                                    Wii Sports      Wii         82.74
1      2                             Super Mario Bros.      NES         40.24
2      3                                Mario Kart Wii      Wii         35.82
3      4                             Wii Sports Resort      Wii         33.00
4      5                      Pokemon Red/Pokemon Blue       GB         31.37
5      6                                        Tetris       GB         30.26
6      7                         New Super Mario Bros.       DS         30.01
7      8                                      Wii Play      Wii         29.02
8      9                     New Super Mario Bros. Wii      Wii         28.62
9     10                                     Duck Hunt      NES         28.31
10    11                                    Nintendogs       DS         24.76
11    12                                 Mario Kart DS       DS         23.42
12    13                   Pokemon Gold/Pokemon Silver       GB         23.10
13    14                                       Wii Fit      Wii         22.72
14    15                                  Wii Fit Plus      Wii         22.00
15    16                            Kinect Adventures!     X360         21.82
16    17                            Grand Theft Auto V      PS3         21.40
17    18                 Grand Theft Auto: San Andreas      PS2         20.81
18    19                             Super Mario World     SNES         20.61
19    20  Brain Age: Train Your Brain in Minutes a Day       DS         20.22

### 5.For North American video game sales, whatâ€™s the median?

In [26]:
median_of_American_games = df['NA_Sales'].median()
median_of_American_games

0.08

In [30]:
secondary_output = df[df['NA_Sales']==median_of_American_games][['Rank', 'Name', 'Platform','NA_Sales']]
secondary_output.sort_values('Rank', ascending = False).head(20)

,Rank,Name,Platform,NA_Sales
11492,11494,Ultimate Shooting Collection,Wii,0.08
11455,11457,The Hidden,3DS,0.08
11432,11434,DanceDanceRevolution,X360,0.08
11431,11433,Little League World Series Baseball: Double Play,DS,0.08
11403,11405,My English Coach: Para Hispanoparlantes,DS,0.08
11390,11392,Super Robot Taisen OG Saga: Endless Frontier,DS,0.08
11386,11388,Sushi Academy,DS,0.08
11376,11378,Face Racers: Photo Finish,3DS,0.08
11375,11377,Dream Day: Wedding Destinations,DS,0.08
11371,11373,Death Jr. and the Science Fair of Doom,DS,0.08
11362,11364,Deadliest Catch: Sea of Chaos,PS3,0.08
11357,11359,Puchi Puchi Virus,DS,0.08
11346,11348,America's Next Top Model,Wii,0.08
11338,11340,Nano Assault,3DS,0.08
11333,11335,Miami Nights: Singles in the City,DS,0.08
11323,11325,Charm Girls Club: My Fashion Show,DS,0.08
11321,11323,Konami Classics Vol. 1,X360,0.08
11316,11318,Major League Baseball 2K12,DS,0.08
11308,11310,101-in-1 Sports Megamix,DS,0.08
11299,11301,The Secret Saturdays: Beasts of the 5th Sun,DS,0.08

### 6.For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [32]:
top = df['NA_Sales'].head(1)
mean = df['NA_Sales'].mean()
standard = df['NA_Sales'].std()
NA_median_Sales = (top-mean)/standard
NA_median_Sales[0]

50.47898767479108

### 7.The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [35]:
avg = df.groupby(df['Platform']=='Wii')['Global_Sales'].mean()
avg

Platform
False    0.523390
True     0.699404
Name: Global_Sales, dtype: float64

### 8.Come up with 3 more questions that can be answered with this data set.

- - ####  What is the top 5 in Rank in 2010?

In [52]:
df[df["Year"]==2010].sort_values("Rank").head(5)['Rank']

15    16
26    27
31    32
40    41
54    55
Name: Rank, dtype: int64

- - #### What is the most selling game in EU?

In [56]:
most_selling_EU = df[['EU_Sales', 'Name']].max()
most_selling_EU

EU_Sales                           29.02
Name        Â¡Shin Chan Flipa en colores!
dtype: object

- - #### What is the average sales in Other_Sales?

In [57]:
avg_other = df[['Other_Sales']].mean()
avg_other

Other_Sales    0.048063
dtype: float64

In [65]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_video_game, 'Electronic Arts')
    assert_equal(most_common_plat_form, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_20_income_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_20_income_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(NA_median_Sales[0], 50.47898767479108)

    print("Success!!! \U0001f600")

test()

Success!!! ðŸ˜€